<!--Esta es la barra de navgación compartida-->
<script>
    var usuario  = '@ViewBag.usuario';
    var usuario2 = '@ViewBag.usuario2';
</script>

@model _IPC2_IGameOthello.Models.Usuario

@{
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;

}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Principal<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Estadisticas</a>
            </li>
            <!--Modos de juego-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jugar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button class="dropdown-item" type="button" value="IA" onclick="modoJuego(this.value)">Jugar vs IA</button>
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modaBusquedaJugador">Jugador vs jugador</button>
                    <button class="dropdown-item" type="button" value="Torneo" onclick="modoJuego(this.value)">Modo torneo</button>
                    <button class="dropdown-item" type="button" value="Limpiar" onclick="modoJuego(this.value)">Limpiar tablero</button>
                </div>
            </li>
        </ul>
    </div>
</nav>

    <!-- Modal -->
    <div class="modal fade" id="modaBusquedaJugador" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Seleccione un jugador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownList("items", items, "Seleccione otro jugador", new { @class = "form-control", @id ="dropdown", @onChange = "actualizarNombres()" })
                        </div>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" value="Vs" onclick="modoJuego(this.value)">Jugar</button>
                    </div>
                </div>
        </div>
    </div>
                