<!--Esta es la barra de navgación compartida-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Principal<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Estadisticas</a>
            </li>
            <!--Cargar/gurdar partida juego--->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Partidas
                </a>
                <div id="dropdown-partidas" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Cargar partida</a>
                    <a class="dropdown-item" href="#">Guardar partida</a>
                </div>
            </li>
            <!--Modos de juego-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jugar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button class="dropdown-item" type="button" value="IA" onclick="modoJuego(this.value)">Jugar vs IA</button>
                    <button class="dropdown-item" type="button" value="Vs" onclick="modoJuego(this.value)">Jugador vs jugador</button>
                    <button class="dropdown-item" type="button" value="Torneo" onclick="modoJuego(this.value)">Modo torneo</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
