@{
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pablo Franco">
    @Styles.Render("~/Content/css/EstiloRegistro.css")
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <div class="tarjeta">
            <form>

                <!--Registro-->
                <div class="fila">
                    <div class="col-lg-12">
                        <p style="font-size: 25pt;"> Registro</p>
                    </div>
                </div>

                <!--Nombres completo-->
                <div class="fila">
                    <div class="col-lg-6">
                        <p>  Primer nombre: </p>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" placeholder="Primer nombre">
                    </div>
                </div>


                <div class="fila">
                    <div class="col-lg-6">
                        <p>  Segundo nombre: </p>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" placeholder="Segundo nombre">
                    </div>
                </div>

                <div class="fila">
                    <div class="col-lg-6">
                        <p> Primer Apellido: </p>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" placeholder="Primer apellido">
                    </div>
                </div>

                <!-- Username-->
                <div class="fila">
                    <div class="col-lg-6">
                        <p> Nombre de usuario: </p>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" placeholder="Nombre de usuario">
                    </div>
                </div>

                <!--Contraseña-->

                <div class="fila">
                    <div class="col-lg-6">
                        <p>  Contraseña: </p>
                    </div>
                    <div class="col-lg-6">
                        <input type="password" placeholder="Contraseña">
                    </div>
                </div>


                <!--Fecha de nacimiento-->
                <div class="fila">
                    <div class="col-lg-6">
                        <p>  Fecha de nacimiento: </p>
                    </div>
                    <div class="col-lg-6">
                        <input type="date">
                    </div>
                </div>

                <!--Pais-->
                <div class="fila">
                    <div class="col-lg-6">
                        <p>  Pais: </p>
                    </div>
                    <div class="col-lg-6">
                        <select>
                            <option>GTM</option>
                            <option>HND</option>
                            <option>SLV</option>
                        </select>
                    </div>
                </div>

                <!--Correo electronico-->
                <div class="fila">
                    <div class="col-lg-6">
                        <p>  Correo electronico: </p>
                    </div>
                    <div class="col-lg-6">
                        <input type="email" placeholder="Correo electronico">
                    </div>
                </div>



                <!--Registrarse-->

                <div class="fila">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-8">
                        <button>Registrarse</button>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>

                <hr class="separador-redondo">

                <!--Registro alternativo-->
                <div class="fila">
                    <div class="col-lg-12">
                        <p> Registrate con Google, Facebook o Outlook</p>
                    </div>

                </div>

                <!--Imagenes registro externo-->
                <div class="fila">
                    <div class="col-lg-4">
                        <img src="Imagenes/facebook.png" alt="Avatar" style="width:100%">
                    </div>


                    <div class="col-lg-4">
                        <img src="Imagenes/google.png" alt="Avatar" style="width:100%">
                    </div>

                    <div class="col-lg-4">
                        <img src="Imagenes/outlook.png" alt="Avatar" style="width:100%">
                    </div>
                </div>

            </form>
        </div>
    </div>


</body>
</html>